---
import "./Footer.less";
---
<footer class="vh-footer">
  <main>
    <p>©{new Date().getFullYear()} 韩小韩 | 本站稳定运行 <span class="web_time"></span></p>
    <p>
      <a href="/rss.xml" target="_blank">RSS订阅</a>
      <a href="/sitemap-index.xml" target="_blank">站点地图</a>
    </p>
  </main>
</footer>
