@font-face {
  font-family: 'DistantGalaxy';
  src: url('./Samsung.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Galaxy';
  src: url('./Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
